body{
    margin: 0;
    text-align: center;
    /* font-family: 'Merriweather', serif; */
}
.top_container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;

    
    
    
}
h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    font-weight: lighter;
    color: #1E836C;
    /* height: auto; */
}
h2{
    font-family: 'Montserrat', sans-serif;
    color: #1E836C;
    font-size: 1.75rem;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #45B29A;
}
/* .middle_container{
    
}
.bottom_container{
    
   
} */
.pro{
    text-decoration: underline;
    color: red;    
}
.bottom-cloud{
    position: absolute;
    left: 12.5rem;
    top: 100px;
}
.top-cloud{
    position: absolute;
    right: 12.5rem;
    top: 50px;
}
.code{
    color: #45B29A;
    font-size: 1.25rem;
}
.img{
    border-radius: 50%;
}

hr{
    border-style: none;
    border-color: rgba(128, 128, 128, 0.444);
    border-top-style: dotted;
    width: 5%;
    border-width: 5px;
}

.land{
    width: 55%;
    height: auto;    
}
.btn{
    
        font-size: .8em;
        text-align: center;
        display: block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        background: #45b29a;
        padding: 0.75em 2em 0.75em 3.5em;
        color: #1b7f69;
        text-decoration: none;
        margin: 1.5em 0 0;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        font-weight: 400;
        border: 0;
        font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
        text-transform: uppercase;
        width: 30%;
        /* height: 20px; */
    
}
.m{
    position: relative;
    left: 50%;
        transform: translateX(-50%);
    width: 45%;
}
.l{
    font-family: monospace;
     
}
p{
    brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 1.25rem;
    font-weight: lighter;
}
.y{
    margin-top: 0%;  
    position: relative;
    bottom: 55px;  
}

